*
{
    text-align: center;
    color: chocolate;
}
div{
    display: inline-table;
    margin: 1rem
}

table,
t,
td {
    border: 2px solid black;
    margin: 1rem;
    color: brown;

}
button{
    padding: 5px;
}
